@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700');
/* @import url('css/reset-and-normalize.min.css');*/
@import '../node_modules/reset-css/reset.css';
html{
  font-size: 10px;
}
html {
  height: 100%;
}
body {
  font-family: 'Montserrat', sans-serif;
  background: url('./images/bg.png');
  font-weight: 300;
  width: 100%;
  height: 100%;
  font-size: 12px;
  text-align: center;
  }
body,
input,
button,
textarea{
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
}
button {
  display: block;
  border: none;
  -webkit-appearance: none;
  color: #404254;
  background: #cfd1e6;
  font-weight: 600;
  font-size: 1.0rem;
  cursor: pointer;
  border-radius: 3px;
}
input:focus,
button:focus {
  outline: 0;
}
p,
li,
dt,
dd,
th,
td {
  line-height: 1.2;
  font-size: 1.4rem;
}
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-content: center;
  width: 100%;
  height: 100%;
}
.container {
  width: 450px;
  height: 580px;
  background: #fff;
  border-radius: 6px;
  overflow: hidden;
  text-align: left;
}
.title{
  color: #fff;
  font-size: 2.4rem;
  font-weight: 600;
  letter-spacing: 0.15em;
  padding: 0 0 20px;
  font-family: 'Montserrat',sans-serif;
}
.header{
  height: 52px;
  background: #e8e9f1;
}
.header-dec{
  position: relative;
  width: 15px;
  height: 15px;
  background: #c6c7cd;
  border-radius: 25px;
  top: 18px;
  left: 15px;
}
.header-dec:before,
.header-dec:after {
  content:"";
  display: block;
  position: absolute;
  width: 15px;
  height: 15px;
  background: #c6c7cd;
  border-radius: 25px;
  left: 25px;
}
.header-dec:after {
  left: 50px;
}
.cRight{
  float: right;
  margin: 3px 15px 0 0;
}
.btn-logout,
.btn-signup{
  border: none;
  background: transparent;
  color: #8a8b94;
  font-weight: 400;
}
.btn-logout a,
.btn-signup a {
  font-size: 0.9rem;
  text-decoration: none;
  color: #8a8b94;
  font-weight: 400;
}


.login-box{
  width: 340px;
  margin: 0 auto;
  padding: 40px 0 0;
}
.form-input-box {
  background: #4c506b;
  border-radius: 3px;
  padding: 12px;
  margin: 0 0 10px;
}
.form-input{
  border: none;
  color: #fff !important;
  width: 100%;
  font-size: 1.0rem;
  background: transparent !important;
  -webkit-appearance: none;
}
input:-webkit-autofill {
  color: #fff !important;
  -webkit-text-fill-color: #fff !important;
  -webkit-box-shadow: 0 0 0px 1000px #4c506b inset;
}
.btn-submit{
  margin: 15px auto 0;
  padding:12px 40px;
  color: #404254;
  background: #cfd1e6;
}
.line-or{
  position: relative;
  padding: 15px 0;
  text-align: center;
  color: #9597a4;
  }
.line-or:before,
  .line-or:after {
  content: "";
  position: absolute;
  display: block;
  width: 150px;
  border-top: #cfd0d7 solid 1px;
  top: 23px;
}
.line-or:before {
}
.line-or:after {
  right: 0;
}
.btn-social{
  color: #fff;
  font-size: 0.9rem;
  width: 100%;
  height: 46px;
  line-height: 1.8;
  position: relative;
  margin: 0 0 10px;
}
.icon {
  font-size: 1.5rem;
  position: absolute;
  left: 15px;
}
.btn-social--github {
  background: #24292e;
}
.btn-social--twitter {
  background: #1da1f2;
}
.btn-social--facebook {
  background: #4867aa;
}

/* =================================

================================= */












/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
