@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700');
/* @import url('css/reset-and-normalize.min.css');*/
@import '../node_modules/reset-css/reset.css';
html{
  font-size: 10px;
}
html {
  height: 100%;
  font-family: 'Montserrat',
  sans-serif;
}
body {
  font-family: 'Montserrat', sans-serif;
  background: url('./images/bg.png');
  font-weight: 300;
  width: 100%;
  height: 100%;
  font-size: 12px;
  text-align: center;
  color: #505157;
  }
body,
input,
button,
textarea,
label {
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
}
button {
  display: block;
  border: none;
  -webkit-appearance: none;
  color: #404254;
  background: #cfd1e6;
  font-weight: 600;
  font-size: 1.0rem;
  cursor: pointer;
  border-radius: 3px;
}
input:focus,
button:focus {
  outline: 0;
}
p,
li,
dt,
dd,
th,
td {
  line-height: 1.2;
  font-size: 1.4rem;
}
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-content: center;
  width: 100%;
  height: 100%;
}
.container {
  position: relative;
  width: 450px;
  height: 580px;
  background: #fff;
  border-radius: 6px;
  overflow: hidden;
  text-align: left;
}
.title{
  color: #fff;
  font-size: 2.4rem;
  font-weight: 600;
  letter-spacing: 0.15em;
  padding: 0 0 20px;
  font-family: 'Montserrat',sans-serif;
}
.header{
  position: relative;
  z-index: 2;
  height: 52px;
  background: #e8e9f1;
}
.header-dec{
  position: relative;
  width: 15px;
  height: 15px;
  background: #c6c7cd;
  border-radius: 25px;
  top: 18px;
  left: 15px;
}
.header-dec:before,
.header-dec:after {
  content:"";
  display: block;
  position: absolute;
  width: 15px;
  height: 15px;
  background: #c6c7cd;
  border-radius: 25px;
  left: 25px;
}
.header-dec:after {
  left: 50px;
}
.cRight{
  float: right;
  margin: 4px 15px 0 0;
}
.btn-logout,
.btn-signup{
  border: none;
  background: transparent;
  color: #8a8b94;
  font-weight: 400;
}
a.btn-logout,
a.btn-signup {
  font-size: 0.9rem;
  text-decoration: none;
  color: #8a8b94;
  font-weight: 400;
  font-family: 'Montserrat',
  sans-serif;
}

/* =================================
 Todo List
================================= */
.todo{
  width:400px;
  margin: 20px auto;
}
.todo-box{
  display: flex;
  width: 100%;
  height: 48px;
  justify-content: space-between;
  align-items:stretch;
  margin: 0 0 10px;
}
.todo-input-box{
  background: #4c506b;
  flex-grow: 8;
  padding: 0 15px;
  box-sizing: border-box;
  border-radius: 3px 0 0 3px;
}
.todo-input{
  color: #fff;
  background: transparent;
  border: 0;
  font-size: 1.0rem;
  width: 100%;
  height: 100%;

}
::-webkit-input-placeholder {
  color: #9597a4;
}

.btn-add {
  display: block;
  flex-grow: 2;
  border-radius: 0 3px 3px 0;
}

.list-wrap{
  height:420px;
  padding-bottom: 20px;
  box-sizing: border-box;
  overflow-y:auto;
  -ms-overflow-style:none;
}
.list-wrap::-webkit-scrollbar {
  display: none;
}

.list-item{
  border:#d1d2da solid 1px;
  border-radius: 3px;
  background: #fff;
  overflow: hidden;
  padding: 8px;
  margin: 0 0 5px;
}
  .list-item.seleted {
  background: #eeeff6;
}
.list-item.seleted .checkbox-container {
  text-decoration: line-through;
  color: #a3a3ac;
}

.list-item-txt{
  float: left;
  padding: 5px 0 0 5px;
  font-family: 'Montserrat',sans-serif;
}
.btn-delete{
  float: right;
  font-size: 0.7rem;
  color: #6a6b7b;
  padding:6px 8px;
  background: #d4d5df;
}

 .checkbox-container {
  display: block;
  position: relative;
  padding-left: 30px;
  font-size: 0.9rem;
  line-height: 1.4;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}
.checkbox-container input {
  position: absolute;
  opacity: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 3px;
  background-color: #fff;
  border: #d1d2da 1px solid;
  box-sizing: border-box;
}
.checkbox-container:hover input~.checkmark {
  background-color: #fff;
}
.checkbox-container input:checked~.checkmark {
  background-color: #7983e1;
  border: 0;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.checkbox-container input:checked~.checkmark:after {
  display: block;
}
.checkmark:after {
   left: 7px;
   top: 3px;
   width: 4px;
   height: 9px;
   border: solid white;
   border-width: 0 2px 2px 0;
   -webkit-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   transform: rotate(45deg);
 }


.filterNav{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-content: center;
  justify-content: space-between;
  align-items:stretch;
  width: 100%;
  position: absolute;
  bottom: 0;
  border-top:#d1d2da solid 1px;
}
.filterNav li {
  width: 33.33%;
  border-right:#d1d2da solid 1px;
}
.filterNav li:last-child {
  border-right: none;
}

.filterNav li a {
  color: #505157;
  display: block;
  font-size: 0.85rem;
  font-weight: 600;
  text-decoration: none;
  font-family: 'Montserrat',
  sans-serif;
  padding:15px 0;
  background: #fff;
  }
.filterNav li .active,
.filterNav li a:hover {
  background: #eeeff6;
}
.loadering-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 1;
  left: 0;
  top: 0;
}
.loadering {
  display: table;
  width: 100%;
  height: 100%;
}
.loadering-inner{
text-align: center;
display: table-cell;
vertical-align: middle;
}
.loader-icon {
  font-size: 3rem;
  color: #333;
}



/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
